.title {
    text-align: center;
    font-size: large;
}

.title-text {
    position: relative;
    top: 35px;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  position: relative;
  left: 620px;
  top: 70px;
} 

.card:hover {
  transform: scale(1.05);
}

.card-header {
  background-color:darkmagenta;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.card-content {
  padding: 8px;
  text-align: center;
  font-weight: bold;
  font-size:x-large;
  background-color: rosybrown;
  
}






.add-button {
  background-color:#13aa52;
  border: 1px solid #13aa52;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}


.menu-content {
    width: 100%;
    height: 100px;
    
}

.menu-sub-content {
    float: right;
}

.buttons-division {
    position: relative;
    right: 50px;
}

table, th, td {
    border: 2px solid #695cfe;
    border-collapse: collapse;
    padding: 5px 10px 5px 10px;
}

table {
    width: 60.5%;
    position: relative;
    left: 350px;
    
}


.editing-division {
  display: flex;
  justify-content: center;
  width: 100%;
}

.update-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 30px;
  line-height: 1.15;
  margin: 2px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.update-button:disabled {
  cursor: default;
}

.update-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.delete-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: red;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 30px;
  line-height: 1.15;
  margin: 2px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.delete-button:disabled {
  cursor: default;
}

.delete-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}