{% extends 'base.html' %}

{% block content %}

<div class="menu-content">
    <div class="menu-sub-content">
        <div class="buttons-division">
            <a href="/expenses/">
                <button class="go-back-button"><i class='bx bx-arrow-back'></i> Go Back</button>
            </a>
        </div>
    </div>
</div>

    <div class="form-container">

        <form action="" method="POST">
            {% csrf_token %}
            {{expense_form}}

            <input type="submit">
        </form>

    </div>

{% endblock %}