{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/addpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
   
    <title>Expense Tracker</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">Expense Tracker</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/dashboard/">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>

                <li><a href="/incomes/">
                    <i class="uil uil-usd-circle"></i>
                    <span class="link-name">Incomes</span>
                </a></li>
                
                <li><a href="/expenses/">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Expenses</span>
                </a></li>
                
            </ul>
            
            <ul class="logout-mode">
                <li><a href="/logout/">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    
        {% block content %}

        {% endblock %}

   
    <script src="{% static 'js/base.js' %}"></script>
   
</body>
</html>